body{
    background-color: #6f86d6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }
 h1{
     text-align: center;
     font-size: 50px;
     color: white;
 }
 #container{
     width: 50%;
     margin: auto;
     box-shadow: rgba(99, 99, 99, 0.9) 0px 2px 8px 0px;
     padding: 10px;
     height: auto;
     font-size: 24px;
     border-radius:5px ;
     background: white;
 }

 input{
     padding: 8px;
     border-radius: 5px;
     border: 2px solid gray;
     width: 85.5%;
 }
 #submit{
     color: white;
     background: #6f86d6;;
     font-size: 16px;
     font-weight: 600;
     border: 1px solid #6f86d6;
     border-radius: 5px ;
     padding: 7px 15px;
 }

 .data-entry {
background-color: #f9f9f9;
border: 1px solid #ddd;
padding: 10px;
margin: 10px 0;
border-radius: 5px;
display: flex;
align-items: center;  /* Align items vertically */
justify-content: space-between;  /* Space between checkbox, text, and delete button */
}

.check-Box {
width: 20px;
height: 20px;
}

.task-text {
flex-grow: 1;  /* Makes text take available space */
font-size: 18px;
}

.delete-btn {
background-color: red;
color: white;
border: none;
padding: 5px;
cursor: pointer;
border-radius: 3px;
}

.delete-btn:hover {
background-color: rgb(203, 11, 11);
}

.update-btn {
background-color: rgb(255, 159, 4);
color: white;
border: none;
padding: 5px;
cursor: pointer;
border-radius: 3px;
margin-left: 2px;
}

.update-btn:hover {
background-color: rgb(247, 124, 1);
}